* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(178, 119, 219);
}

.topbanner {
    height: 56px;
    width: 100%;
    background-color: rgb(255, 154, 1);
    text-align: center;
}

.topbanner img {
    height: inherit;
    width: 88%;
}

.navbar-cont {
    width: 100%;
    height: 72px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}

.logo,
.searchbar,
.linkbox {
    height: inherit;
    background-color: orange;
}

.logo {
    width: 13%;
    object-fit: contain;
    background-color: rgb(255, 255, 255);

}

.searchbar {
    width: 45%;
    height: 70%;
    border-radius: 100px;
    margin-right: -30px;
    background-color: rgb(241, 241, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;



}

.linkbox {
    width: 19%;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 100%;
}

.searchbar i {
    margin-left: 15px;
    font-size: 1.2rem;
}

.searchbar input {
    border: none;
    width: 80%;
    height: 100%;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
}

.searchbar button {
    width: 13%;
    height: inherit;
    background-color: rgb(246, 139, 30);
    color: white;
    border: none;
    border-radius: inherit;
}

.searchbar ::-webkit-input-placeholder {
    font-size: small;
}

.linkbox {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background-color: white;
}

.linkbox :hover {
    color: rgb(247, 106, 54);
}

.herosect {
    width: 80%;
    height: 392px;
    background-color: rgb(178, 119, 219);
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 80px 50px;
    gap: 10px;
    border-radius: 5px;
}

.box {
    border: 3px solid white;
    border-radius: 7px;
}

.left {
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    font-weight: 100;
}

.left :hover {
    color: orangered;
}

.center {
    grid-column: 2/5;
    grid-row: 1/5;
    background-image: url(../img/centerpiece.gif);
}

.topright {
    grid-column: 5/6;
    grid-row: 1/3;
    background-color: white;
    background-image: url(../img/call_files/Artboard-1.gif);
}

.bottomright {
    grid-column: 5/6;
    grid-row: 3/5;
    background-image: url(../img/product2.gif);
}

.topright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    font-weight: 100;
}

.topright :hover {
    color: orangered;
}

.productboard1 {
    height: 170px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-left: 135px;
    margin-top: 10px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    border-radius: 5px;


}

.tinybox {
    height: 100%;
    width: 128px;
    background-color: inherit;
    text-align: center;
    font-size: smaller;

}

.tiny img {
    width: 100%;
    height: 80%;
}

.productboard2 {
    height: 200px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    border-radius: 5px;
}

.dealbox {
    height: 100%;
    width: 170px;
    background-color: white;
    text-align: center;
    font-size: smaller;
}

.dealbox img {
    width: 100%;
    height: 100%;
}

.essentialsbox {
    height: 350px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    border-radius: 5px;
}

.essent {
    height: 50%;
    width: 16%;
    background-color: red;
}

.essent img {
    width: 100%;
    height: 100%;
}

.productboard3 {
    height: 261px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-left: 135px;
    margin-top: 10px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    border-radius: 5px;
}

.topsellersbox {
    height: 100%;
    width: 170px;
    background-color: peru;
}

.topsellersbox img {
    width: 100%;
    height: 100%;
}

.productboard4 {
    height: 350px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    border-radius: 5px;
}

.limitedbox {
    height: 50%;
    width: 16%;
    background-color: rgb(255, 255, 255);
}
.limitedbox img{
    width: 100%;
    height: 100%;
}
.about{
    height: 500px;
    width: 80%;
    background-color:rgb(255, 255, 255);
    margin:20px auto 0;
    border-radius: 10px; 
    
   
}
h5,h6{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
p{
    font-size: smaller;
    margin-bottom: 7px;
}
footer {
    background-color: #323232;

    color: white;

    margin-top: 50px;
}


.footer-container {
    width: 88%;

    margin: auto;

    padding: 40px 0;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;
}

.footer-container h3 {
    margin-bottom: 20px;

    color: #f68b1e;
}

.footer-container p {
    margin-bottom: 10px;

    font-size: 14px;

    color: #ddd;
}

.footer-container p:hover {
    color: white;

    cursor: pointer;
}


.copyright {
    text-align: center;

    border-top: 1px solid #555;

    padding: 20px;

    font-size: 13px;

    color: #aaa;
}
